<p>modaldistributer works!</p>
<button (click)="modalService.open('modal-1');">Open modal</button>


<jw-modal id="modal-1">
  <h2>Add student</h2>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div>
      <label for="email">
        Email
      </label>
      <input id="email" type="text" formControlName="email">
    </div>

    <div>
      <label for="dob">
        Date of birth
      </label>
      <input id="dob" type="text" formControlName="dob">
    </div>



    <button class="button" type="submit">Submit</button>

    <!-- <button (click)="modalService.add('modal-1');">Save</button> -->
  </form>





  <button (click)="modalService.close('modal-1');">Close</button>
</jw-modal>