<button (click)="modalService.open('modal-1');">Add another student</button>


<jw-modal id="modal-1">
  <h2>Add student</h2>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div>
      <label for="email">
        Email
      </label>
      <input id="email" type="text" formControlName="email">
    </div>

    <!-- <div>
      <label for="dob">
        Date of birth
      </label>
      <input id="dob" type="text" formControlName="dob">
    </div> -->

    <div class="p-field p-col-12 p-md-4">
      <label for="dateformat">Date of birth</label>

      <!-- <p-calendar 

      [(ngModel)]="date2" 
      dateFormat="mm-dd-yy" 
      
      inputId="dateformat" 
      [ngModelOptions]="{standalone: true}"
    
      >

      </p-calendar> -->

      <p-calendar 

      [(ngModel)]="date2" 
      dateFormat="yy-mm-dd" 
      
      inputId="dateformat" 
      [ngModelOptions]="{standalone: true}"
      dataType="string"
      >

      </p-calendar>

      <p>{{date2 | json }} </p>
    </div>

    <button class="button" type="submit">Submit</button>

  </form>

  <button (click)="modalService.close('modal-1');">Close</button>
</jw-modal>